<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../../assets/img/paginicio/guitablack2.png" class="d-block w-100" height="415px" alt="primera imagen"> 
    </div>
    <div class="carousel-item">
        <img src="../../../assets/img/paginicio/piano.png" class="d-block w-100" height="415px" alt="primera imagen">
    </div>
    <div class="carousel-item">
        <img src="../../../assets/img/paginicio/billie.PNG" class="d-block w-100" height="415px" alt="primera imagen">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Cards pro recomendados -->
<h1 class="title-vendido">LO MAS VENDIDO</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 text-center">
  <div class="card mx-auto border-light" style="max-width: 15rem;">
    <img src="../../../../assets/img/amplifica/Amplificador Bajo Ashdown Original.png" class="card-img-center">
    <div class="card-body">
      <h1 class="card-title">Ashdown</h1>
      <p class="card-text">Amplificador Bajo Ashdown Original</p>
      <h2>$749.990</h2>
      <a href="#" class="btn btn-secondary">Agregar al carro</a>
    </div>
  </div>
  <div class="card mx-auto border-light" style="max-width: 15rem;">
    <img src="../../../../assets/img/instrucuerdas/GIBSON LPSSP00DGNH1.png" class="card-img-center">
    <div class="card-body">
      <h1 class="card-title">Gibson</h1>
      <p class="card-text">Guitarra Electrica Les Paul Slash Goldtop Dark Back</p>
      <h2>$4.187.000</h2>
      <a href="#" class="btn btn-secondary">Agregar al carro</a>
    </div>
  </div>
  <div class="card mx-auto border-light" style="max-width: 14rem;">
    <img src="../../../../assets/img/instrucuerdas/ESP EII Horizon NTII.png" class="card-img-center">
    <div class="card-body">
      <h1 class="card-title">ESP</h1>
      <p class="card-text">Guitarra eléctrica ESP EII Horizon NTII color Tiger Eye Amber Fade</p>
      <h2>$2.449.900</h2>
      <a href="#" class="btn btn-secondary">Agregar al carro</a>
    </div>
  </div>
  <div class="card mx-auto border-light" style="max-width: 15rem;">
    <img src="../../../../assets/img/percusion/Roland VAD 506 V-Drums.png" class="card-img-center">
    <div class="card-body">
      <h1 class="card-title">Roland</h1>
      <p class="card-text">Batería Electrónica Roland VAD 506 V-Drums - Set</p>
      <h2>$5.379.900</h2>
      <a href="#" class="btn btn-secondary">Agregar al carro</a>
    </div>
  </div>
</div>

<footer class="container-footer">
  <div class="containersus">
    <h1>SUSCRIBETE A NUESTRO NEWSLETTER</h1>
    <input class="form-control me-2" type="search" placeholder="¿Que Buscas?" aria-label="search">
  </div>

</footer>
