.list-group{
  width: 85px;
  position: absolute;
  left: 50;
  top: 300px;
  font-size: 20px;
}
*{
  margin: 2;
  padding: 1;
}
header p{
  margin-top: 11px;
  font-size: 20px;
}
.field input{
  width: 100px;
  height: 25px;
  font-size: 15px;
  margin-left: 15px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #979797;
}
.field{
  font-size: 15px;
}
.mb-1{
  font-size: 14px;
}