<div class="list-group">
    <h1>Filtros</h1>
    <a href="#" class="list-group-item list-group-item-action border-light" >
      <div class="d-flex w-100 justify-content-between"> 
        <p class="mb-1">Accesorios</p>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <p class="mb-1">Audifonos</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <p class="mb-1">Bajos</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <p class="mb-1">Guitarras</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <p class="mb-1">Parlantes</p>
        </div>
    </a>
    <div class="wrapper">
        <header>
          <h1>Precios</h1>
        </header>
        <div class="price-input">
          <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="2500">
          </div>
          <h1>
            <!-- espaciado -->
          </h1>
          <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="7500">
          </div>
        </div>       
      </div>
      <h1>
        <!--espaciado-->
      </h1>
    <h1>Marcas</h1>
    <a class="list-group-item list-group-item-action border-light" [routerLink]="'ashdown'">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">Ashdown</p>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">Fender</p>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">Marshall</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">Gibson</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">ESP</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Ibañez</p>
        </div>
    </a>
</div>