<div class="list-group">
    <p>Filtros</p>
    <a href="#" class="list-group-item list-group-item-action border-light" >
      <div class="d-flex w-100 justify-content-between"> 
        <h5 class="mb-1">Accesorios</h5>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <h5 class="mb-1">Audifonos</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <h5 class="mb-1">Bajos</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <h5 class="mb-1">Guitarras</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light" >
        <div class="d-flex w-100 justify-content-between"> 
          <h5 class="mb-1">Parlantes</h5>
        </div>
    </a>
    <div class="wrapper">
        <header>
          <p>Precios</p>
        </header>
        <div class="price-input">
          <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="2500">
          </div>
          <h1>
            <!-- espaciado -->
          </h1>
          <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="7500">
          </div>
        </div>       
      </div>
      <h1>
        <!--espaciado-->
      </h1>
    <p>Marcas</p>
    <a class="list-group-item list-group-item-action border-light" [routerLink]="'ashdown'">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ashdown</h5>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Fender</h5>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">J Marshall</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Gibson</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ESP</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-light">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ibañez</h5>
        </div>
    </a>
</div>