.navbar-brand{
    font: 26px/26px Blacksword;
    color: whitesmoke;
    margin-left: 95px;
}
.form-control {
    width: 295px;
    height: 25px;
    border-radius: 27px;
}
.nav-item{
    width: 155px;
}
.d-flex {
    margin-right: 40px;
}